/*******************************************************************************
 * Themes
 ******************************************************************************/

:root {
  --global-bg-color: #f5f5f5; /* Light background */
  --global-text-color: #333333; /* Dark text color */
  --global-heading-color: #555555; /* Heading color */
  --global-subheading-color: #777777; /* Subheading color */
  --global-code-bg-color: #e0e0e0; /* Light sage for code background */
  --global-link-color: #4e5a5e; /* Sage for link color */
  --global-card-bg-color: #f0f0f0; /* Lighter background for card */
  --global-card-text-color: #333333; /* Dark text color for cards */
  --global-divider-color: #dddddd; /* Lighter background for divider */
  --global-theme-color: #b192c2; /* Brighter lavender for theme color */
  --global-hover-color: #88c0d0; /* Lighter shade of mint for hover effect */

  .fa-sun {
    display: none;
  }
  .fa-moon {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }

  .repo-img-light {
    display: block;
  }
  .repo-img-dark {
    display: none;
  }
}

html[data-theme="dark"] {
  --global-bg-color: #1d1f21; /* Dark background */
  --global-text-color: #c5c8c6; /* Light text color */
  --global-heading-color: #a7adba; /* Heading color */
  --global-subheading-color: #848d9d; /* Subheading color */
  --global-code-bg-color: #556b6e; /* Dark sage for code background */
  --global-link-color: #81a2be; /* Mint for link color */
  --global-card-bg-color: #4e5a5e; /* Sage for card background */
  --global-card-text-color: #c5c8c6; /* Dark text color for cards */
  --global-divider-color: #373b41; /* Darker background for divider */
  --global-theme-color: #b192c2; /* Brighter lavender for theme color */
  --global-hover-color: #88c0d0; /* Lighter shade of mint for hover effect */

  .fa-sun {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }
  .fa-moon {
    display: none;
  }

  .repo-img-light {
    display: none;
  }
  .repo-img-dark {
    display: block;
  }
}
